
@{
    ViewData["Title"] = Model.Id == null ? "Create User" : "Edit User";
}
@model HiringGame.Application.Dtos.AppUserForReturnDto


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@(Model.Id == null ? "Create User" : "Edit User")</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active"><a asp-controller="Users" asp-action="Index"> Users</a></li>

                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <form asp-controller="Users" asp-action="@(Model.Id==null?"create":"Edit")" method="post">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="m-0">@(Model.Id == null ? "Create User" : "Edit User") </h5>
                                <a style="float:right" asp-controller="Users" asp-action="Index" class="btn btn-primary">Users list</a>
                            </div>
                            <div class="card-body">


                                <input type="hidden" asp-for="Id" />


                                <div class="form-group">
                                    <label asp-for="FirstName"></label>
                                    <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="LastName"></label>
                                    <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="EmailAddress"></label>
                                    <input asp-for="EmailAddress" class="form-control" placeholder="Email" />
                                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="MobileNo"></label>
                                    <input asp-for="MobileNo" class="form-control" placeholder="Mobile No" />
                                    <span asp-validation-for="MobileNo" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" class="form-control" placeholder="Password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>



                            </div>
                            <div class="card-footer">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <input type="submit" value="Submit" class="btn btn-success" />
                                <a class="btn btn-default" asp-controller="Users" asp-action="Index">Cancel</a>

                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.col-md-6 -->
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

