
@{
    ViewData["Title"] = "Forget Password";
    Layout = null;
}
@using HiringGame.Common
@using Newtonsoft.Json
@model HiringGame.Application.Dtos.ForgetPasswordDto;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a asp-controller="Home" asp-action="Index"><b>Gam</b>Up</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

                <form asp-controller="Account" asp-action="ForgetPassword" method="post">
                    <div class="input-group mb-3">
                        <input type="email" asp-for="EmailAddress" as class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>

                    </div>
                    <span class="text-danger" asp-validation-for="EmailAddress"></span>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Request new password</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <p class="mt-3 mb-1">
                    <a asp-controller="Account" asp-action="Login">Login</a>
                </p>

            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>

    @await Html.PartialAsync("_ValidationScriptsPartial")

<script src="~/js/sweetalert.min.js"></script>

<script type="text/javascript">

    function showAlert(title, msg, type) {

        var icon = '';
        switch (type) {
        case 1:
            icon = 'success';
            break;
        case 2:
            icon = 'error';
            break;
        case 3:
            icon = 'warning';
            break;
        case 4:
            icon = 'info';
            break;
        default:
            icon = 'info';
            break;
        }


        swal({
            title: title,
            text: msg,
            icon: icon,
            buttons: true
        });
    }

    $(document).ready(function() {
        @if (TempData["clientMessage"] != null)
        {

            var message = JsonConvert.DeserializeObject<MessageModel>(TempData["clientMessage"].ToString());

            @:showAlert('@message.Title', '@message.Message', @((int)message.MessageType));

        }
    });
</script>

</body>
</html>


